body{
font-family:tahoma;
margin:0;
background:#f2f4f8;
}

.top{
background:#2563eb;
color:white;
padding:15px;
display:flex;
justify-content:space-between;
align-items:center;
}

input{
padding:8px;
border-radius:6px;
border:none;
width:150px;
}

.cart-icon{
cursor:pointer;
font-size:18px;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:15px;
border-radius:10px;
text-align:center;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.card img{
width:100%;
border-radius:10px;
}

button{
background:#2563eb;
color:white;
border:none;
padding:10px;
width:100%;
border-radius:6px;
margin-top:5px;
}

.wa{
display:block;
margin-top:5px;
background:#22c55e;
color:white;
padding:8px;
border-radius:6px;
text-decoration:none;
}

#cartBox{
position:fixed;
top:20%;
right:30%;
background:white;
padding:20px;
width:300px;
display:none;
box-shadow:0 0 20px rgba(0,0,0,.3);
}
